/*
* @Author: dell
* @Date:   2019-06-05 18:01:17
* @Last Modified by:   dell
* @Last Modified time: 2019-06-06 15:58:20
*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a {
	text-decoration: none;
	outline: none;
}
input {
	list-style: none;
	border: 0;
}
li {
	list-style: none;
}

.clearfix:after {
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {
	zoom:1;
}

@font-face {
  font-family: 'iconfont';
  src: url('../font_1230159_sepnx860gs/iconfont.eot');
  src: url('../font_1230159_sepnx860gs/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../font_1230159_sepnx860gs/iconfont.woff2') format('woff2'),
      url('../font_1230159_sepnx860gs/iconfont.woff') format('woff'),
      url('../font_1230159_sepnx860gs/iconfont.ttf') format('truetype'),
      url('../font_1230159_sepnx860gs/iconfont.svg#iconfont') format('svg');
}

body {
	background-color: #f0f0f0;
}

/* 头部 */
.head {
	width: 100%;
	height: 45px;
	background-color: #fafafa;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.head .return {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	height: 45px;
	width: 45px;
	text-align: center;
}
.head .return .icon-r {
	font-family: "iconfont" !important;
	font-style: normal;
	font-size: 20px;
	height: 45px;
	width: 45px;
	line-height: 45px;
	display: block;
	color: #06c1ae;
}
.head .form {
	position: relative;
	height: 45px;
	margin-left: 45px;
	margin-right: 45px;
	padding-top: 10px;
}
.head .form .search {
	background-color: #ebeced;
	width: 100%;
	height: 25px;
	border-radius: 12px;
	display: block;
	text-align: center;
}
.head .form .i-search {
	font-size: 16px;
	font-weight: 700;
	color: #8e8e94;
	padding-left: 20px;
}
.head .form .i-search .icon-search {
	position: absolute;
	font-family: "iconfont" !important;
	font-style: normal;
	font-size: 16px;
	color: #8e8e94;
	font-weight: 700;
	left: 10px;
	top: 16px;
}
.head .user {
	position: absolute;
	right: 0;
	top: 0;
	display:block;
	height: 45px;
	width: 45px;
	text-align: center;
}
.head .user .icon-user {
	font-family: "iconfont" !important;
	font-style: normal;
	font-size: 20px;
	height: 45px;
	width: 45px;
	line-height: 45px;
	display: block;
	color: #06c1ae;
}
/* 下载 */
.banner-download {
	width: 100%;
	height: 220px;
	margin-top: 20px;
	/* border-bottom: 2px solid #d8d8d8; */
}
.banner-download img {
	display: block;
	width: 100%;
	height: 220px;
} 
/* hot */
.hot {
	width: 100%;
	background-color: #fff;
	margin-top: 5px;
}
.hot .hot-list {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
}
.hot .hot-list li{
	width: 25%;
	float: left;
	padding-left: 10px;
	padding-bottom: 10px;
	
}
.hot .hot-list li a {
	display: inline-block;
	width: 100%;
}
.hot .hot-list li a img {
	display: block;
	margin: 0 auto;
	height: 66px;
	width: 66px;
}
.hot .hot-list li a p {
	padding-top: 10px;
	color: #666;
	font-size: 14px;
	text-align: center;
}
/* nav-bar */
.nav-bar {
	width: 100%;
	height: 50px;
	background-color: #fff;
	display: flex;
	margin-top: 10px;
	border-bottom: 2px solid #d8d8d8;
}
.nav-bar a {
	display: inline-block;
	flex: 1;
	height: 50px; 
	border: 0;
	text-align: center;                                            
}
.nav-bar a span {
	font-size: 14px;
	line-height: 45px;
	color: #666;
} 
.nav-bar a span:after {
	content: '';
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 6px solid #b7b7b7;
    border-left: 5px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 0;
    margin-left: 12px;
    margin-top: 10px;
}
/* 内容 */
section {
	width: 100%;
	background-color: #fff;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d8d8d8;
}
.list {
	width: 100%;
}
.list a {
	width: 100%;
	display: block;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	position: relative;
}
.list a img {
	display: inline-block;
	width: 85px;
	height: 85px;
	border: 0;

}
.list a .info {
	position: absolute;
	top :20px;
	left: 120px;
	display: inline-block;
	height: 85px;
	border-bottom: 1px solid #d8d8d8;
}
.list a .info .info_name {
	color: #000;
	font-size: 18px;
}
.list a .info .info_price {  
}
.list a .info .info_price .start {
	display: inline-block;
}
.list a .info .info_price .start i {
	font-family: "iconfont" !important;
	font-style: normal;
	font-size: 16px;
	color: orange;

}
.list a .info .info_price .price {
	display: inline-block;
	font-size: 14px;
	color: #000;
}
.list a .info .info_price .address {
	display: inline-block;
	font-size: 14px;
	color: #000;
	margin-left: 50px;
}
.list a .info .info-more {
	font-size: 14px;
	color: orange;

}
.list .deal {
	width: 100%;
	margin-left: 120px;
}
.list .deal img {
	height: 15px;
	width: 15px;
	border: 0;
	display: inline-block;
	vertical-align: middle;
}
.list .deal span{
	font-size: 12px;
	color: #000;

}